<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Registro de Inspeccones</title>
      <link rel="stylesheet" href="../css/estilos.css">
  </head>
  <body>
    <div class="container">
        <section class="box_form">
          <div class="header_form">
            <div class="circule_form"></div>
            <h2>Registro de Inspecciones</h2>
          </div>
          <br>
          <h3>Tipo de inspección</h3>
          <br>

          <form class="form-horizontal row-fluid"  action="../menu/menu.html" method="post" >
            <div class="row">
              <div class="col-label">
                <label for="insp">Inspección</label>
              </div>
              <div class="col-input">
                <select name="Inspección" id="Inspección">
                  <option value="0">Seleccione una opción</option>
                  <option value="1">Inspección baños</option>
                  <option value="2">Inspección bodegas centro comercial</option>
                  <option value="3">Inspección bodegas contratistas</option>
                  <option value="4">Inspección sonido ambiental</option>
                  <option value="5">Inspección terrazas</option>
                </select>
              </div>
              <br>

              <div class="row">
                <div class="col-label">
                  <label>Supervisor</label>
                </div>
                <div class="col-input">
                  <input type="text" name="inspec" id="inspec">
                </div>
              </div>
              <br>

              <div class="row">
                <div class="col-label">
                  <label for="ubi">Ubicación</label>
                </div>
                <div class="row">
                  <div class="col-input">
                    <select name="ubicación" id="ubicaciíon">
                      <option value="0">Seleccione una opción</option>
                      <option value="1">Torre Norte Sótano 3</option>
                      <option value="2">Torre Norte Sótano 2</option>
                      <option value="3">Torre Norte Sótano 1</option>
                      <option value="4">Torre Norte Piso 1</option>
                      <option value="5">Torre Norte Piso 2</option>
                      <option value="6">Torre Norte Piso 3</option>
                      <option value="7">Torre Norte Torre C</option>
                      <option value="8">Torre Sur Sótano 3</option>
                      <option value="9">Torre Sur Sótano 2</option>
                      <option value="10">Torre Sur Sótano 1</option>
                      <option value="11">Torre Sur Piso 1</option>
                      <option value="12">Torre Sur Piso 2</option>
                      <option value="13">Torre Sur Piso 3</option>
                      <option value="14">Torre Sur Piso 4</option>
                      <option value="15">Torre Sur Torre A</option>
                      <option value="16">Torre sur Torre B</option>
                    </select>
                  </div>
                </div>              
                <br>

                <div class="row">
                  <div class="col-label">
                   <label for="fecha">Fecha inspección</label>
                  </div>
                  <div class="col-label">
                     <input type="date" name="fecha" id="fecha">
                </div>
                </div>
                <br>

                <div class="row">
                  <div class="col-label">
                    <label for="anexo">Anexos</label>
                  </div>
                  <div class="col-label">
                    <input type="text" name="anexo" id="anexo" placeholder="cargar anexo">
                  </div>
                </div>
                <br>

                <div class="row">
                  <div class="col-label">
                    <label>Observaciones</label>
                  </div>
                  <div class="col-label">
                    <textarea name="Obs" id="Obs"></textarea>
                  </div>
                </div>
                <br>

                <div class="row">
                  <div class="col-label">    
                  <button tipy="submit" class="form_class--button">Guardar</button>
                  </div>
                  <div class="col-input">
                  <button tipy="submit" class="form_class--button">Cancelar</button>
                  </div>
                </div>
                <br>
                
       </section>
      </div>
  </body>
</html>
