<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Cargos</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>

<body>
    <div class="container">
        <section class="box_form">
          <div class="header_form">
            <div class="circule_form"></div>
            <h2>Cargos</h2>
          </div>
          <br>
          <h3>Registrar Cargos</h3>
          <br>
          <form  class="form-horizontal row-fluid"  action="../menu/menu.html" method="post"  >
            <div class="row">
              <div class="col-label">
                <label>Código del Cargo</label>
              </div>
              <div class="col-input">
                <input type="text" name="carg" id="carg" >
              </div>
            </div>
           
            <div class="row">
              <div class="col-label">
                <label>Descripción del Cargo</label>
              </div>
              <div class="col-input">
                <input type="text" name="car" id="car" disabled>
              </div>
            </div>
            <div class="row">
              <div class="col-input">
                <button tipy="submit" class="form_class--button">Guardar Datos</button>
              </div>
            <div class="row">
              <div class="col-input">
                <button tipy="submit" class="form_class--button">Cancelar</button>
              </div>
            </div>  
         </form>
        </section>
      </div>
</body>
</html>